# Save you from mistyping
alias sl=ls

##############################
## Custom GIT aliases
##############################
alias gl1='git log --oneline'

# Save a lot of typing for common commands
alias v="vim"
alias gs="git status"

