# This is Git's per-user configuration file.
[user]
	name = Kishan Arava
	email = kishan.arava@gmail.com
# Please adapt and uncomment the following lines:
#	name = Kishan Arava
#	email = kishanarava@MacBook-Pro.local
[user]
[core]
	editor = vim
	excludesfile = /Users/kishanarava/.gitignore_global
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
